<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFN649-group28 UI design</title>
    <style type="text/css">
    div{
			height: 50px;
			width:800px;
			background-color: #dea46b;
			text-align: center;
			line-height: 50px;
			margin:auto;
		}
	</style>
</head>
<img src="https://i.ytimg.com/vi/XHu8Mii34cc/maxresdefault.jpg"
        width=100%
        height=auto
        title="living space air quality maintenance system"
        alt="living space air quality maintenance system picture"
/>
<body>
 <div class="box3">this web page is used for living space air quality maintenance system users (presented by group28)</div>
<pre>



</pre>
 <table align="center" border="3">
   <caption align="center">the dataset table of living space air quality maintenance system</caption>
   <tr>
     <th>term</th>
     <th>data </th>
     <th>reporting information</th>
     <th>operation</th>
   </tr>
   <tr>
     <td style="color:#0000FF">temperature</td>
     <td align="center" style="color:#0000FF">--Hongkong : {{temperature_data.tem}}°C --</td>
     <td style="color:#0000FF">normal/abnormal</td>
     <td style="color:#0000FF">Switch on air-conditioner/Switch off air-conditioner</td>
   </tr>
    <tr>
     <td style="color:#FF0000">PM2.5</td>
     <td align="center" style="color:#FF0000">--Hongkong : {{pm25_data.data.iaqi.pm25.v}}um --</td>
     <td style="color:#FF0000">normal/abnormal</td>
     <td style="color:#FF0000">open windows/close windows</td>
    </tr>
   <tr>
      <td style="color:#00FF00">humidity</td>
       <td align="center" style="color:#00FF00">--HongKong : {{humidity_data.main.humidity}}% --</td>
       <td style="color:#00FF00">normal/abnormal</td>
       <td style="color:#00FF00">Turn on the dehumidifier/Turn on the humidifier</td>
   </tr>
</table>
<pre>

</pre>
<a href="http://127.0.0.1:8000/setting/" target="_blank">
    <center><button style="width:150px;height:60px;">setting page (click)</button></center>
</a>
</body>
</html>