<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IFN649-group28 UI design</title>
    <style type="text/css">
    div{
			height: 50px;
			width:800px;
			background-color: #dea46b;
			text-align: center;
			line-height: 50px;
			margin:auto;
		}
	</style>
</head>
<img src="https://i.ytimg.com/vi/XHu8Mii34cc/maxresdefault.jpg"
        width=100%
        height=auto
        title="living space air quality maintenance system"
        alt="living space air quality maintenance system picture"
/>
<body>
 <div class="box3">this web page is used for living space air quality maintenance system users (presented by group28)</div>
<pre>



</pre>
 <table align="center" border="3">
   <caption align="center">the dataset table of living space air quality maintenance system</caption>
   <tr>
     <th>term</th>
     <th>data </th>
     <th>reporting information</th>
     <th>operation</th>
   </tr>
   <tr>
     <td>temperature</td>
     <td align="center"><a href="https://www.tianqiapi.com/free/day?appid=62141163&appsecret=DLW3gPlK" target="_blank">temperature link</a></td>
     <td>normal/abnormal</td>
     <td>Switch on air-conditioner/Switch off air-conditioner</td>
   </tr>
    <tr>
     <td>PM2.5</td>
     <td align="center"><a href="https://api.waqi.info/feed/hongkong/?token=os.getenv/" target="_blank">PM2.5 link</a></td>
     <td>normal/abnormal</td>
     <td>open windows/close windows</td>
    </tr>
   <tr>
      <td>humidity</td>
       <td align="center"><a href="https://api.openweathermap.org/data/2.5/weather?appid=os.getenv&q=hongkong" target="_blank">humidity link</a></td>
       <td>normal/abnormal</td>
       <td>Turn on the dehumidifier/Turn on the humidifier</td>
   </tr>
</table>
</body>
</html>