<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'cloud_ui/style.css' %}">i

    <title>Living Air Quality - Group 28 </title>

</head>

<body>
        
    <img 
        src="https://i.ytimg.com/vi/XHu8Mii34cc/maxresdefault.jpg"
        width=100%
        height=auto
        title="living space air quality maintenance system"
        alt="living space air quality maintenance system picture"
    />

    <div 
        id="introText"
    >
        Current Location : Hong Kong
    
    </div>

    <pre></pre>

    <table id="statusTable" align="center" border="3">
        <caption align="center">the dataset table of living space air quality maintenance system</caption>
        <tr>
            <th></th>
            <th>Time Stamp</th>
            <th>Data</th>
            <th>Information</th>
            <th>Recent Action</th>
        </tr>
        <tr>
        
            <td class="temperature">Temperature</td>

            <td class="temperature">
                {{current_temperature.time_stamp}}
            </td>

            <td class="temperature">
                {{current_temperature.temperature_value}}°C
            </td>

            <td class="temperature">
                {{current_temperature.severity}}
            </td>

            <td>
                Actions
            </td>
        
        </tr>
        
        <tr>
            <td class="pm25">Air Quality (PM2.5)</td>
            
            <td class="pm25">
                {{current_air_quality.time_stamp}}
                
            </td>
            
            <td class="pm25">
                {{current_air_quality.pm25_value}}
            </td>
            
            <td class="pm25">
                {{current_air_quality.severity}}
            </td>

            <td>
                Actions
            </td>
        
        </tr>
        
        <tr>
            <td class="humidity">
                Humidity
            </td>
                
            <td class="humidity">
                {{current_air_quality.time_stamp}}
            </td>
            
            <td class="humidity">
                {{current_humidity.humidity_value}}

            </td>
            
            <td class="humidity">
                {{current_humidity.severity}}
            </td>

            <td>
                Actions
            </td>

        </tr>
    </table>

    <pre></pre>

    <table id="peripheralsTable" align="center" border="3">
        <tr>
            <th>
                Peripheral ID
            </th>
            
            <th>
                Peripheral Name
            </th>
            
            <th>
                Online Status (ON/OFF)
            </th>

            <th>
                Current Action
            </th>
        </tr>

        {% for item in peripherals_list %}
        <tr>

            <td>
                {{item.id}}
            </td>

            <td>
                {{item.name}}
            </td>

            <td>
                {{item.online_status}}
            </td>

            <td>
                {{item.activity_status}}
            </td>
           
        </tr>
        {% endfor %}


    </table>

    <pre></pre>

    <div>
        <center>

            <a href="/settings">
                <button style="width:150px;height:60px;">
                    Settings
                </button>
            </a>

            <a href="/trends">
                <button style="width:150px;height:60px;" >
                    Trends
                </button>
            </a>

            <a href="/admin">
                <button style="width:150px;height:60px;">
                    Administrator Panel
                </button>
            </a>

        </center>
    </div>

</body>

</html>